
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'examTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'examTabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'Module' | translate}}</label>
                        <p-dropdown [options]="modules" [(ngModel)]="item.module" id="1" [disabled]="true" optionLabel="libelle" placeholder="{{'Module' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'Semester' | translate}}</label>
                        <p-dropdown [options]="semesters" [(ngModel)]="item.semester" id="2" [disabled]="true" optionLabel="libelle" placeholder="{{'Semester' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'Date exam' | translate}}</label>
                        <p-calendar id="3" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'Date exam' | translate}}"  [(ngModel)]="item.dateExam" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="examExamGrades">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [value]="item.examGrades" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Student</th>
                                        <th>Grade</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                        <td>{{p.student?.cin}}</td>
                                        <td>{{p.grade}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



