        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'studentTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'studentTabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-4">
                                                    <label for="1">{{'studentCin' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'studentCin' | translate}}" id="1" [(ngModel)]="item.cin"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validStudentCin}"  />
                                                    <small class='p-error' *ngIf='!validStudentCin'>Cin est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-4">
                                                    <label for="2">{{'studentFirstName' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'studentFirstName' | translate}}" id="2" [(ngModel)]="item.firstName"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validStudentFirstName}"  />
                                                    <small class='p-error' *ngIf='!validStudentFirstName'>FirstName est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-4">
                                                    <label for="3">{{'studentLastName' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'studentLastName' | translate}}" id="3" [(ngModel)]="item.lastName"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validStudentLastName}"  />
                                                    <small class='p-error' *ngIf='!validStudentLastName'>LastName est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-4">
                                                    <label for="4">{{'studentEmail' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'studentEmail' | translate}}" id="4" [(ngModel)]="item.email"
                                                             />
                                                    
                                                </div>



                                                <div class="field col-12 md:col-4">
                                                    <label for="5">{{'studentPhoneNumber' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'studentPhoneNumber' | translate}}" id="5" [(ngModel)]="item.phoneNumber"
                                                             />
                                                    
                                                </div>



                                                <div class="field col-12 md:col-4">
                                                    <label for="6">{{'studentAddress' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'studentAddress' | translate}}" id="6" [(ngModel)]="item.address"
                                                             />
                                                    
                                                </div>



                                                <div class="field col-12 md:col-4">
                                                    <label for="7">{{'studentRegistrationDate' | translate}}</label>
                                                    <p-calendar appendTo="body" id="7"  [showTime]="true" [showSeconds]="false" placeholder="{{'studentRegistrationDate' | translate}}"  [(ngModel)]="item.registrationDate"
                                                            dateFormat="{{dateFormat}}"  >
                                                    </p-calendar>
                                                    
                                                </div>

                                                <div class="field align-inputswitch col-12  md:col-4">
                                                    <div  class="label-inputswitch">
                                                        <label for="10">{{'studentGraduated' | translate}}</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="10"  [(ngModel)]="item.graduated"
                                                                 >
                                                        </p-inputSwitch>
                                                        
                                                    </div>
                                                </div>


                                            <div class="field col-11 md:col-3">
                                                <label for="11">{{'studentDiploma' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="diplomas" [(ngModel)]="item.diploma" id="11" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="id" placeholder="{{'studentDiploma' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="col-1">
                                                    <label></label>
                                                    <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateDiploma('Diploma')" class="p-button-success one-colonne-btn-success-align"></button>
                                                </div>
                                </div>
                            </p-tabPanel>
                                    <p-tabPanel header="studentSemestersAverages">
                                        <p-tabView [(activeIndex)]="activeTab">
                                            <p-tabPanel header="Création">
                                                    <div class="grid">
                                                                    <div class="field col-11 md:col-3">
                                                                        <label>Semester</label>
                                                                        <p-dropdown  appendTo="body"  [options]="semesters" [(ngModel)]="semestersAveragesElement.semester"
                                                                                     id="2"  [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="libelle"
                                                                                     placeholder="Semester"  >
                                                                        </p-dropdown>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="3">Average</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="average" placeholder="Average"  [(ngModel)]="semestersAveragesElement.average"></p-inputNumber>
                                                                        
                                                                    </div>
                                                                    <div class="field  align-inputswitch col-12 md:col-4">
                                                                        <div  class="label-inputswitch">
                                                                            <label for="4">Validated</label>
                                                                        </div>
                                                                        <div class="input-switch">
                                                                            <p-inputSwitch id="4"  [(ngModel)]="semestersAveragesElement.validated"></p-inputSwitch>
                                                                        </div>
                                                                    </div>
                                                        <div class="field col-12 md:col-1">
                                                            <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addSemestersAverages()"></button>
                                                        </div>

                                                    </div>
                                            </p-tabPanel>
                                            <p-tabPanel header="Liste {{item.semestersAverages?.length > 0 ? '(' + item.semestersAverages?.length + ')' : ''}}">
                                                    <div class="card">
                                                        <p-table [value]="item.semestersAverages" [scrollable]="true" scrollHeight="200px">
                                                            <ng-template pTemplate="header">
                                                                <tr>
                                                                                <th>Semester</th>
                                                                                <th>Average</th>
                                                                                <th>Validated</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </ng-template>
                                                            <ng-template pTemplate="body" let-p>
                                                                <tr>
                                                                            <td>{{p.semester?.libelle}}</td>
                                                                                <td>{{p.average}}</td>
                                                                                <td><i *ngIf="p.validated" class="pi pi-check checked-toogle"></i>
                                                                                    <i *ngIf="!p.validated" class="pi pi-times unchecked-toogle"></i>
                                                                                </td>
                                                                    <td>
                                                                        <button (click)="deleteSemesterAverage(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                        <button (click)="editSemesterAverage(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                                    </td>
                                                                </tr>
                                                            </ng-template>
                                                        </p-table>
                                                    </div>

                                            </p-tabPanel>
                                        </p-tabView>
                                    </p-tabPanel>

                                    <p-tabPanel header="studentPayments">
                                        <p-tabView [(activeIndex)]="activeTab">
                                            <p-tabPanel header="Création">
                                                    <div class="grid">
                                                                    <div class="field col-11 md:col-3">
                                                                        <label>Training</label>
                                                                        <p-dropdown  appendTo="body"  [options]="trainings" [(ngModel)]="paymentsElement.training"
                                                                                     id="2"  [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="libelle"
                                                                                     placeholder="Training"  >
                                                                        </p-dropdown>
                                                                        
                                                                    </div>
                                                                    <div class="field col-11 md:col-3">
                                                                        <label>Semester</label>
                                                                        <p-dropdown  appendTo="body"  [options]="semesters" [(ngModel)]="paymentsElement.semester"
                                                                                     id="3"  [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="libelle"
                                                                                     placeholder="Semester"  >
                                                                        </p-dropdown>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="4">Amount</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="amount" placeholder="Amount"  [(ngModel)]="paymentsElement.amount"></p-inputNumber>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="5">Paid date</label>
                                                                        <p-calendar appendTo="body" id="5"  [showTime]="true" [showSeconds]="false" placeholder="Paid date" [(ngModel)]="paymentsElement.paidDate"
                                                                                dateFormat="{{dateFormat}}" [showIcon]="true"  ></p-calendar>
                                                                        
                                                                    </div>
                                                        <div class="field col-12 md:col-1">
                                                            <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addPayments()"></button>
                                                        </div>

                                                    </div>
                                            </p-tabPanel>
                                            <p-tabPanel header="Liste {{item.payments?.length > 0 ? '(' + item.payments?.length + ')' : ''}}">
                                                    <div class="card">
                                                        <p-table [value]="item.payments" [scrollable]="true" scrollHeight="200px">
                                                            <ng-template pTemplate="header">
                                                                <tr>
                                                                                <th>Training</th>
                                                                                <th>Semester</th>
                                                                                <th>Amount</th>
                                                                                <th>Paid date</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </ng-template>
                                                            <ng-template pTemplate="body" let-p>
                                                                <tr>
                                                                            <td>{{p.training?.libelle}}</td>
                                                                            <td>{{p.semester?.libelle}}</td>
                                                                                <td>{{p.amount}}</td>
                                                                                <td>{{p.paidDate | date: dateFormatColumn}}</td>
                                                                    <td>
                                                                        <button (click)="deletePayment(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                        <button (click)="editPayment(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                                    </td>
                                                                </tr>
                                                            </ng-template>
                                                        </p-table>
                                                    </div>

                                            </p-tabPanel>
                                        </p-tabView>
                                    </p-tabPanel>


                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-step">
                        <div style="margin-left: auto;">
                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                        </div>
                        <div>
                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
                        </div>

                </div>
            </ng-template>

            <app-diploma-create-admin></app-diploma-create-admin>


    </p-dialog>
